<template>
    <button :class="['cz__button', 'cz__option-button', { 'cz__option--selected': selected }]" @click="optionSelected">
        {{option.name || option.code}}
    </button>
</template>

<style lang="less">
    .cz__button.cz__option-button {
        padding: 0px 15px;

        color: #333;

        background-color: #f1f1f1;

        border: 1px solid transparent;

        &.cz__option--selected {
            position: relative;

            &:after {
                content: '';

                position: absolute;

                left: -1px;
                bottom: -8px;

                width: ~"calc(100% + 2px)";
                height: 3px;

                background: #000;
            }
        }

        &:focus {
            outline: none;
            border: 1px solid #000;
        }
    }
</style>

<script>
    export default {
        props: {
            controller: Object,
            blueprint: Object,
            option: Object,
            selected: Boolean,
            components: Array,
        },
        methods: {
            optionSelected() {
                this.$emit('select', this.option);
            },
        },
    };
</script>