<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Customizer Reference Implementation Demo</title>
        <meta name="description" content="Customizer Reference Implementation" />

        <style>
            /* Make customizer take the full screen area. */
            html {
                overflow: hidden;
            }

            body {
                position: relative;
                margin: 0;
                padding: 0;

                width: 100vw;
                height: 100vh;

                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>

        <!-- This is a placeholder for the customization experience. -->
        <div id="customize__placeholder"></div>

        <!-- Load the customizer script - this will be inserted by Poi automatically, but would be necessary in the real world. -->
        <!-- <script type="text/javascript" src="customize-widget.js"></script> -->

        <!-- Initialize the widget and load the demo product. -->
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function InitializeWidget() {
                CustomizeWidget.default.createWidget({
                    product: 'WATCH360',
                    apiKey: '62SH6h0VIbRh4kHuEkjbHiErBBQGwOmZfYfYd6miqbiABsWrgi4AhfCStHnbNUawwV8wQ2q2foWHVtaHXd5vYFIno0nxN0cT',
                    container: document.querySelector('#customize__placeholder'),

                    on: {
                        addToCart: function (recipe) {
                            alert('Recipe saved as ' + recipe.id + ' at ' + recipe.location);
                        },
                    },
                });
            });
        </script>
    </body>
</html>
